:root {
    --fonte-principal: 'Playfair Display', serif;
    --fonte-secundaria: 'Roboto', sans-serif;
    --white: #ffffff;
    --cor1: #473C38;
    --cor2: #C2B19C;
    --cor3: #F0F1F0;
    --cor4: #B2935B;
    --cor5: #666666;
    --cor6: #FAFAFA;
    --rounded: 5px;

}


body {
    margin: 0;
   }


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



.container {

    max-width: 1121px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 
}

.header {

    background-color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    

}

 .header .container {

    display: flex;    
    justify-content: space-between;
    align-items: center;


}  



.menu a {
    color: var(--cor1);
    font-size: 16px;
    margin-left: 66px;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}


.hero-section {
    background-color: var(--cor1);

}

.hero-section .container {
    padding-top: 153px;
    padding-bottom: 154px;
    display: flex;

}

.hero-section p {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    color: var(--white);
    line-height: 130%;
    font-weight: lighter;
    margin-top: 15px;
    padding-bottom: 10px;
    width: 450px;
}

.hero-section h1 {
    font-family: var(--fonte-principal);
    font-size: 60px;
    font-weight: lighter;
    color: var(--white);
}

.hero-section-1 .btn {

    background-color: var(--cor2);
    color: var(--cor1);
    padding: 15px 52px 16px 51px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);

}


.presentation {
    margin-top: 100px;
    margin-bottom: 102px;
}

.presentation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.presentation .content{
    max-width: 642px;
}

.presentation h2 {
    font-family: var(--fonte-principal);
    color: var(--cor1);
    font-size: 48px;
    font-weight: lighter;

}

.presentation p {
    font-family: var(--fonte-secundaria);
    color: var(--cor5);
    font-size: 16px;
    font-weight: lighter;

}

.presentation .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    padding: 5px 26px 6px 25px;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    font-family: var(--fonte-secundaria);
    text-decoration: none;

}

.card-section {
    background-color: var(--cor3);


}

.card-section h3 {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: lighter;
    margin-left: 334px;
    color: var(--cor1);
    margin-top: 50px;
    margin-bottom: 50px;

}

.card-section .container {
    display: flex;
    flex-direction: column;

}

.card-total {
    display: flex;
    justify-content: space-around;

}

.card-total h4 {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: lighter;
    margin-top: 17px;
}

.card-total p {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 17px;
    width: 280px;
}

.card-total .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    padding: 3px 60.67px 3px 58.33px;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    width: 161px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;

}


.card {
    background-color: var(--cor6);
    padding-top: 38px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 50px;
    border-radius: var(--rounded)
}


.card .image {
    border-radius: var(--rounded);
}


.comment .container {
    margin-top: 48px;
    margin-bottom: 50px;
    text-align:center;

} 


.comment p {

    font-size: 40px;
    font-family: var(--fonte-principal);
    margin-top: 20px;
    margin-bottom: 20px;

}

.comment span {
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    line-height: 130%;

}


.formulario {

    background-color: var(--cor2);
    padding-top: 60px;
    padding-bottom: 60px;
   
    
}


.formulario input {

    margin-left: 10px;
    width: 451px;
    background-color: var(--cor3);
    border: none;

}


.formulario .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    padding: 3px 13px;
    margin-left: 10px;

}

.footer {

    background-color: var(--cor1);

}

.footer .container {

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    column-gap: 25px;
    color: var(--white);
    font-family: var(--fonte-secundaria);
    font-size: 16px;

}

.footer .title {

    font-family: var(--fonte-principal);
    font-size: 24px;
}

@media (max-width: 1140px) {

    .bar {

        width: 40px;
        height: 3px;
        background-color: var(--cor1);
        margin-bottom: 3px;
      }


    .menu {

        display: none;
        padding-left: 15px;
        padding-right: 15px;
        
    }


    .menu-open {


        background-color: var(--cor4);
        font-family: var(--fonte-principal);
        font-size: 16px;
        color: var(--cor1);
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 100px;
        left: 0;
        margin: 0;

    }

    .menu a {

        margin-left: 0;
        margin-left: 15px;
        border-bottom: 1px solid var(--cor1);
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .menu a:active {
        background-color: var(--cor1);
        color: var(--cor4);
        
    }



    .hero-section .container {

        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    

    }

    .hero-section-1 h1{
        font-size: 32px;
    }

    .hero-section-1 p {
        
        width: 100%;
        font-size: 16px;

    }

    .hero-section img{

        height: 90%;
        width: 90%;

    }

    .presentation{

        margin-top: 109px;
        margin-bottom: 100px;
    }
    .presentation h2{

        font-size: 28px;
        
   }

   .presentation #p1{

    margin-top: 41px;

   }

    .presentation .image {
        display: none;
    }


    .card-total {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-section h3 {

        margin-left: 0;
        text-align: center;
        font-size: 28px;

    }

    .comment p {

        text-align: center;
        font-size: 24px;
    }


    .formulario {

        padding-top: 53px;
        padding-bottom: 53px;
      
        
    }


    .formulario input{

        width: 95%;
        box-sizing: border-box;
        margin-bottom: 13px;
        
    }

     .footer .container{
        display: flex;
        flex-direction: column;
     
     }

  

}