:root {
    --fonte-principal: 'Playfair Display', serif;
    --fonte-secundaria: 'Roboto', sans-serif;
    --white: #ffffff;
    --cor1: #473C38;
    --cor2: #C2B19C;
    --cor3: #F0F1F0;
    --cor4: #B2935B;
    --cor5: #666666;
    --cor6: #FAFAFA;
    --rounded: 5px;

}


body {
    margin: 0;
    /* overflow-x: hidden; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



.container {

    max-width: 1121px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.header {

    background-color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 5;

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.menu a {
    color: var(--cor1);
    font-size: 16px;
    margin-left: 66px;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}


.hero-section {
    background-color: var(--cor1);

}

.hero-section .container {
    padding-top: 153px;
    padding-bottom: 154px;

}

.hero-section p {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    color: var(--white);
    line-height: 130%;
    font-weight: lighter;
    margin-top: 15px;
    padding-bottom: 10px;
    width: 450px;
}

.hero-section h1 {
    font-family: var(--fonte-principal);
    font-size: 60px;
    font-weight: lighter;
    color: var(--white);
}

.hero-section-1 .btn {

    background-color: var(--cor2);
    color: var(--cor1);
    padding: 15px 52px 16px 51px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);

}


.presentation {
    display: flex;
    align-items: center;
    margin-top: 100px;
    column-gap: 123px;
    margin-bottom: 102px;
}

.presentation h2 {
    font-family: var(--fonte-principal);
    color: var(--cor1);
    font-size: 48px;
    width: 642px;
    font-weight: lighter;

}

.presentation p {
    font-family: var(--fonte-secundaria);
    color: var(--cor5);
    font-size: 16px;
    width: 641px;
    font-weight: lighter;

}

.presentation .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    padding: 5px 26px 6px 25px;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    font-family: var(--fonte-secundaria);
    text-decoration: none;

}

.card-section {
    background-color: var(--cor3);


}

.card-section h3 {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: lighter;
    margin-left: 334px;
    color: var(--cor1);
    margin-top: 50px;
    margin-bottom: 50px;

}

.card-section .container {
    display: flex;
    flex-direction: column;

}

.card-total {
    display: flex;
    justify-content: space-around;

}

.card-total h4 {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: lighter;
    margin-top: 17px;
}

.card-total p {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 17px;
    width: 280px;
}

.card-total .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    padding: 3px 60.67px 3px 58.33px;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    width: 161px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;

}


.card {
    background-color: var(--cor6);
    padding-top: 38px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 50px;
    border-radius: var(--rounded)
}

.card {
    background-color: var(--cor6);
    padding-top: 38px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 50px;
}

.card {
    background-color: var(--cor6);
    padding-top: 38px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 50px;
}

.card .image {
    border-radius: var(--rounded);
}



.comment .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 50px;

}

.comment p {

    font-size: 40px;
    font-family: var(--fonte-principal);
    width: 857px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.comment span {
    font-size: 16px;
    font-family: var(--fonte-secundaria);

}




.formulario {

    background-color: var(--cor2);
}


.formulario input {

    margin-left: 10px;
    margin-top: 68px;
    margin-bottom: 68px;
    width: 451px;
    background-color: var(--cor3);
    border: none;

}


.formulario .btn {

    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    padding: 3px 13px;
    margin-left: 10px;

}

.footer {

    background-color: var(--cor1);

}

.footer .container {

    padding: 50px 160px;
    display: flex;
    column-gap: 25px;
    color: var(--white);
    font-family: var(--fonte-secundaria);
    font-size: 16px;

}

.footer .title {

    font-family: var(--fonte-principal);
    font-size: 24px;
}

@media (max-width: 1140px) {


    .header {
        position: fixed;
        width: 100%;
        padding-left: 15px;
    }


    .bar {

        width: 40px;
        height: 3px;
        background-color: var(--cor1);
        margin-bottom: 3px;
        margin-right: 30px;
    }


    .menu {

        display: none;
    }


    .menu-open {


        background-color: var(--cor4);
        font-family: var(--fonte-principal);
        font-size: 16px;
        color: var(--cor1);
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 100px;
        left: 0;
        margin: 0;

    }

    .menu a {

        margin-left: 15px;
        border-bottom: 1px solid var(--cor1);
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .menu a:active {
        background-color: var(--cor1);
        color: var(--cor4);
        margin-left: 15px color(var(--cor1));
        padding-left: 15px;
    }



    .hero-section .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        margin: auto;
        text-align: center;

    }

    .hero-section-1 p {

        /* margin: auto; */
        width: 100vw;
        /* padding-top: 16px;
        padding-bottom: 16px; */
        padding: 16px;

    }

    .presentation .container {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        text-align: justify;
/*        
        margin-left: 100px;
        margin-right: 100px; */
        /* padding-left: 100px;
        padding-right: 100px; */
        

    }

    .presentation .image {
        display: none;
    }


    .card-total {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-section h3 {

        margin-left: 0;
        text-align: center;

    }

    .comment p {

        width: 100vw;
        text-align: center;
    }

    .formulario input{

        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 20px;     

    }

    /* .formulario input-1{

        margin-top: 0;
        margin-bottom: 0;

       /* padding-top: 0;
        padding-bottom: 0; */
    /* } */

    /* .formulario input-2{
            margin-top: 0;
            margin-bottom: 0; */

            /* padding-top: 0;
        padding-bottom: 0; */
     /* } */

     .footer .container{
        display: flex;
        flex-direction: column;
     
     }

     .footer .content{
                text-align: justify;
    }

}